<% layout('layout/boilerplate') %>
<style>
    .container {
      margin-left: 44px;
    }
</style>
<body>
    <div class="container">
        <h3>Categories</h3>
        <form action="/user/<%= req.user._id %>/submit?_method=PUT" method="POST">
            <div class="row mt-3">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <label for="coding">
                                <input type="checkbox" id="coding" name="categories" value="Coding"> Coding
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <label for="engineering">
                                <input type="checkbox" id="engineering" name="categories" value="Engineering"> Engineering
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <label for="adventure">
                                <input type="checkbox" id="adventure" name="categories" value="Adventure"> Adventure
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-+nQI/Nvphv7ZSZDYqRS/4BhhDRdKVEgSUz+xYDM0lZSiE7p6QwtzKnY1qf4PPUnff7rmXvCE/NRrUjE8qB8gVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
