<% layout('layout/boilerplate') %>

<body>
    <div class="container">
        <h3>Categories</h3>
        <div class="row mt-3">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/user/<%= req.user._id %>/1?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-primary">Coding <i class="fas fa-plus"></i></button>
                        </form>                   
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Engineering</h5>
                        <a href="/engineering" class="btn btn-primary">Add <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Adventure</h5>
                        <a href="/adventure" class="btn btn-primary">Adventure <i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-+nQI/Nvphv7ZSZDYqRS/4BhhDRdKVEgSUz+xYDM0lZSiE7p6QwtzKnY1qf4PPUnff7rmXvCE/NRrUjE8qB8gVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
