<% layout('/layout/boilerplate.ejs') %>

<style>
  body {
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
  }

  .card {
    background-color: #333; /* Dark card background color */
    color: #fff; /* Light text color */
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-title {
    color: #5680cf; /* Light text color */
    font-weight: bold;
  }

  .card-text {
    color: #ffffff; /* Lighter text color */
  }

  .owner-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #ccc; /* Light text color */
  }

  .owner-info img {
    margin-right: 10px;
    border-radius: 50%;
  }

</style>

<body>
    <div class="container mt-5">
      <h1 class="mb-4">Our Videos</h1>
      <div class="row">
        <% videos.forEach(video => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="<%= video.thumbnail %>" class="card-img-top" alt="Thumbnail">
            <div class="card-body">
              <h5 class="card-title"><%= video.title %></h5>
              <p class="card-text">Views: <%= video.views %></p>
              <% if (video.owner) { %>
              <div class="owner-info">
                <p class="card-text">Owner: <%= video.owner.username %></p>
              </div>
              <% } else { %>
              <p class="card-text">Owner: Anonymous</p>
              <% } %>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>